
@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
</div>

@using (@Html.BeginForm("Index", "Employee", FormMethod.Post))
{

    @Html.Label("lblEmpName")
    @Html.TextBox("txtEmpName")
    <br />
    @Html.Label("lblEmpAddress")
    @Html.TextBox("txtEmpAddress")
    <br />
    <button asp-controller="Employee" asp-action="Index" type="submit">Submit</button>
}